@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@200..800&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.home-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 4rem;
}

.home-main-cont {
  width: 55%;
  font-family: Oswald;
  letter-spacing: 2px;
}

.home-title {
  font-size: 11rem;
  color: white;
  font-weight: 400;
  line-height: 1;
}

.home-desc {
  font-size: 4rem;
  color: white;
  font-weight: 200;
}

.custom-btn {
  color: white;
  background-color: #4f46e5;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 15px;
}

.link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .home-main-cont {
    width: 70%;
  }
  .home-title {
    font-size: 8rem;
  }

  .home-desc {
    font-size: 2.6rem;
  }
}
@media (max-width: 700px) {
  .home-cont {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    padding: 4rem 2rem;
  }

  .home-main-cont {
    width: 90%;
    margin: auto;
  }
  .home-title {
    font-size: 4rem;
  }

  .home-desc {
    font-size: 2.6rem;
  }
}
